@model Item

<div class="col-md-4">
             <img class="img-thumbnail embed-responsive-item" src="@Model.ItemImageThumbnailUrl" alt="" />
                  <div class="caption">
                      <h3 class="pull-right">
                         @Model.Price.ToString("c")
                      </h3>
                      <h3>
                         <a>@Model.Name</a>
                      </h3>
                      <p>@Model.ItemDescription</p>
                  </div>
</div>