@model ItemListViewModel


<h1>@Model.CurrentCategory</h1>
<div class="container">
    <div class="row">
        @foreach (var item in Model.Items)
        {
            <partial name="_itemCard" model="item" />
        }
    </div>
</div>
