@model Order


<form asp-action="Checkout" method="Post" class="form-horizontal" role="form">
    <h3 class="text-center">You are just one step away from ordering your items.</h3>

    <div class="form-group row">
        <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
        <div class="col-md-7">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
        <div class="col-md-7">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Address" class="col-sm-2 col-form-label"></label>
        <div class="col-md-7">
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="City" class="col-sm-2 col-form-label"></label>
        <div class="col-md-7">
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="State" class="col-sm-2 col-form-label"></label>
        <div class="col-md-7">
            <input asp-for="State" class="form-control" />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="ZipCode" class="col-sm-2 col-form-label"></label>
        <div class="col-md-7">
            <input asp-for="ZipCode" class="form-control" />
            <span asp-validation-for="ZipCode" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="PhoneNumber" class="col-sm-2 col-form-label"></label>
        <div class="col-md-7">
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-7">
            <input type="submit" class="btn btn-danger" value="Complete Order" />
        </div>
    </div>

</form>
