<h1>Please do not hesitate to contact us through the details provided below</h1>

<br />

<h2>
<email address="info@onlinewebshop.com" link-text="Contact Us Through Our Email"></email>
</h2>

<br />

<h2>Contact Us through our 24/7 Contact number : +0061040245162</h2>
<br />

<h2>We are Located at : <br /> 6/10, Beck Street, Smith Place, VIC, Australia</h2>