<li class="nav-item">
    <a asp-controller="Item"
       asp-action="Index"
       class="nav-link" data-toggle="dropdown" aria-expanded="false">Items<b class="caret"></b></a>
    <ul class="dropdown-menu">
        @foreach (var category in Model)
        {
            <li>
                <a class="dropdown-item" asp-controller="Item" asp-action="List"
                   asp-route-category="@category.CategoryName">@category.CategoryName</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a class="dropdown-item" asp-controller="Item" asp-action="List" asp-route-category="">View all Items</a>
        </li>
    </ul>
</li>