<div>
    <h2>
        All Drinks are shown here
    </h2>
</div>

<h2>@Model.CurrentCategory</h2>


<div class="container">
    <div class="row">
        @{
            foreach (Item item in Model.Items)
            {
                @Html.Partial("ItemsSummary", item)
            }
        }
    </div>
</div>
